# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/medimeet

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET=your_secure_access_token_here
JWT_REFRESH_TOKEN_SECRET=your_secure_refresh_token_here
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=2592000000

# Server Configuration
SERVER_PORT=8080

# Google OAuth2 configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
